lib/gate/plugins/ANNIE/resources/schema/CorefSchema.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
	<!-- XSchema deffinition for Coref-->
	<element name="Coref">
	  <complexType>
	    <attribute name="coref_type"  use="required">
		  <simpleType>
		    <restriction base="string">
			  <enumeration value="NAME"/>
			  <enumeration value="NOMINAL"/>
			  <enumeration value="PRONOUN"/>
		    </restriction>
		</simpleType>	 
	</attribute>
	    <attribute name="type" use="required">
		  <simpleType>
		    <restriction base="string">
			  <enumeration value="Organization"/>
			  <enumeration value="Person"/>
			  <enumeration value="Location"/>
			  <enumeration value="Facility"/>
			  <enumeration value="GPE"/>
			  <enumeration value="Date"/>
		    </restriction>
		</simpleType>	 
	</attribute>
	<attribute name="ID"  type="string"  use ="required"/>
  </complexType>  
  </element>
</schema>