lib/gate/plugins/ANNIE/resources/schema/SentenceSchema.xml

<?xml version="1.0" ?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
	<!-- XSchema deffinition for sentence-->
	<element name="sentence">
		<complexType>
			<attribute name="time" type="integer" use="required"/>
			<attribute name="tier" type="string"    use="required"/>
			<attribute name="text" type="string"   use="required"/>
		</complexType>
	</element>
</schema>
