lib/gate/plugins/ANNIE/resources/schema/UtteranceSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
	<!-- XSchema deffinition for utterence-->
	<element name="utterance">
		<complexType>
			<attribute name="time" type="integer" use="required"/>
			<attribute name="tier"  type="string"   use="required"/>
			<attribute name="text" type="string"   use="required"/>
		</complexType>
	</element>
</schema>
